<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <!-- NVR的IP -->
      <add key="NvrIp" value="192.168.1.100"/>
      <!-- NVR的端口号 -->
      <add key="NvrPort" value="37777"/>
      <!-- NVR的登录用户名 -->
      <add key="NvrUserName" value="admin"/>
      <!-- NVR的登录密码 -->
      <add key="NvrPassword" value="admin123"/>
      <!-- 截图图片文件保存位置 -->
      <add key="CaptureSavePath" value="D:\\files\\VideoMonitorPlatform\\capture"/>
</configuration>
